a{
    text-decoration: none;
    color: #01131E;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFF3;
    border-radius: 20px;
    border-top: 3px solid #01131E;
    border-right: 3px solid #01131E;
    border-bottom: 6px solid #01131E;
    border-left: 3px solid #01131E;
    font-family: 'Clash Grotesk', sans-serif;
    width: 1180px;
    height: 117px;
    padding: 0px 20px 0px 20px;
    margin-top: 40px;
}

.logo{
    cursor: pointer;
    margin-top: 11px;
}
.header__nav{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    color: #01131E;
    list-style: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 70px;
    cursor: pointer;
    gap: 20px;
}
.login{
    font-family: 'Clash Grotesk', sans-serif;
    border-radius: 8px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 4px solid #000;
    border-left: 2px solid #000;
    background: #F94A29;
    color: #01131E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 20px 11px 20px;
    cursor: pointer;
}
.header__li{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 10px;

}
.header__li_Active {
    color: #FFFFFF;
    background-color: #01131E;
    border-radius: 4px;
    position: relative;

    &::after {
        content: '';
        border: 1px solid #01131E;
        border-radius: 4px;
        top: 4px;
        left: 4px;
        width: calc(100%);
        height: calc(100%);
        position: absolute;
        transition: all 0.3s ease; 
        opacity: 1;
    }


}
