/* .search{
    display: flex;
    align-items: center;
} */
/* @font-face {
	font-family: 'Furore'; 
	src: url('../../fonts/Furore/Furore.otf') format('opentype'); 
} */
.input__search{
    width: 365px;
    height: 51px;
    outline: none;
    border-radius: 8px 0px 0px 8px;
    border-top: 2px solid #01131E;
    border-right: 1px solid #01131E;
    border-bottom: 4px solid #01131E;
    border-left: 2px solid #01131E;
    background: #FFFFF3;
    padding-left: 20px;
}
.input__search:focus-visible{
    border-radius: 8px 0px 0px 8px;
}

.input__search__button{
    outline: none;
    font-family: 'ClashDisplay-Medium';
    background: #FFFFF3;
    color: #01131E;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 0px 8px 8px 0px;
    border-top: 2px solid #000;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    border-left: 1px solid #000;
    padding: 10px 20px;
    cursor: pointer;
}