*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    margin-right: -32px;
}
.logIn{
    padding: 50px;
    color: #01131E;
    background-color: #FFFFF3;
    font-family: Clash Display, Roboto;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 0;
}

body {
    margin: 0;
    place-items: center;
    background-color: #FFFFF3;
}

input{
    color: #000;
    font-family: ClashDisplay-Medium, Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form__content{
    margin-top: 30px;
    width: 580px;
    max-height: 730px;
    height: 90vh;
    border-radius: 10px;
    border-top: 3px solid #01131E;
    border-right: 3px solid #01131E;
    border-bottom: 6px solid #01131E;
    border-left: 3px solid #01131E;
    background: #FFFFF3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: ClashDisplay-Medium;
}
.title__h2{
    max-width: 452px;
    width: 100%;
    color: #01131E;
    text-align: center;
    font-family: ClashDisplay-Semibold;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 10px;
}

.title__p{
    color: #5A5A5A;
    text-align: center;
    font-family: ClashDisplay-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 35px;
}

.content__input{
    max-width: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: ClashDisplay-Medium, Roboto;
    color: #01131E;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
}

.content__input p{
    font-family: ClashDisplay-Medium, Roboto;
}
.password__span{
    color: #5A5A5A;
    font-family: ClashDisplay-Medium, Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    cursor: pointer;
}
.inputText{
    margin-top: 10px;
    max-width: 420px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 2px solid #01131E;
    background: #FFFFF3;
    font-family: ClashDisplay-Medium, Roboto;
    padding-left: 10px;
    transition: border-bottom 0.08s ease;
    transition: height 0.08s ease;
    position: relative;
}

.inputText:focus{
    border-bottom: 4px solid #01131E;;
    height: 52px;
    
}

.input__title{
    max-width: 420px;
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: ClashDisplay-Medium, Roboto;
    margin-top: 30px;
}

.form__button{
    margin-top: 30px;
    width: 420px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 4px solid #000;
    border-left: 2px solid #000;
    background: #299AF9;
    color: #01131E;
    font-family: ClashDisplay-Semibold;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: border-bottom 0.08s ease;
}

.form__button:active{
    border-bottom: 2px solid #000;
    background: #1586E5;
}

.form__sign{
    color: #5A5A5A;
    font-family: ClashDisplay-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 30px 0px;
}
.sign__span{
    text-decoration-line: underline;
    cursor: pointer;
    margin-left: 5px;
    color: #5A5A5A;
}

.form__home{
    color: #5A5A5A;
    font-family: ClashDisplay-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    cursor: pointer;
    margin-bottom: 30px;
}
.intup__h3{
    color: #01131E;
    font-family: ClashDisplay-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.error__email{
    color: #c16161;
    font-family: ClashDisplay-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    margin-top: 110px;
}
.error__password{
    color: #c16161;
    font-family: ClashDisplay-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    margin-top: 135px;
}
.showPassword{
    cursor: pointer;
    background: url(/PasswordHide.svg) no-repeat;
    background-position: center;
    position: absolute;
    bottom: 11px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
}
.hidePassword{
    cursor: pointer;
    background: url(/ShowPasswordOpenEye.svg) no-repeat;
    background-position: center;
    position: absolute;
    bottom: 11px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
}
  