@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Extralight.woff2') format('woff2'),
         url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Extralight.woff') format('woff'),
         url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Light';
    src: url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Light.woff2') format('woff2'),
         url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Light.woff') format('woff'),
         url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay';
    src: url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Regular.woff2') format('woff2'),
         url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Regular.woff') format('woff'),
         url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Medium.woff2') format('woff2'),
         url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Medium.woff') format('woff'),
         url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
         url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Semibold.woff') format('woff'),
         url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Bold.woff2') format('woff2'),
         url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Bold.woff') format('woff'),
         url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'ClashDisplay-Variable';
    src: url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Variable.woff2') format('woff2'),
         url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Variable.woff') format('woff'),
         url('../src/fonts/ClashDisplay/Fonts/WEB/fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ClashDisplay-Semibold, Roboto;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 18px;
}
::-webkit-scrollbar-thumb {
    background-color: #fffff3; /* Цвет ползунка */
    border-radius: 5px; /* Скругление углов ползунка */
    border: 2px solid #01131E;
}
::-webkit-scrollbar-track {
    background-color: #eeeee3; /* Цвет трека (фона) */
  }

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
    width: 100%;
    margin-top: 40px;
}
@media screen and (max-width: 1440px){
    body{
        zoom: 95%;
    }
}
@media screen and (max-width: 880px){
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 880px;
        width: 100%;
        margin-top: 0px;
    }
}
