a{
    text-decoration: none;
}


.projectPage__container{
    max-width: 1180px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.projectPage{
    margin-top: 80px;
    max-width: 1180px;
    background-color: #fffff3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}





.projectPage__title{
    width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__h1 > h1{
    color: #01131E;
    font-family: Clash Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title__h2 > h2{
color: #01131E;
font-family: Clash Display;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}


.projectPage__content{
    display: flex;
    gap: 40px;
    margin-top: 40px;
}
.content__img > a > img{
    max-width: 580px;
    width: 100%;
    max-height: 535px;
    height: 100%;
    border-radius: 3px solid #01131e;
    object-fit: fill;
}
.author__profile{
    display: flex;
    gap: 20px;
}

.profile__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.profile__text > h1{
    color: #01131E;
    font-family: Clash Display;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.profile__text > h2{
    color: #01131E;
    font-family: Clash Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.profile__bgImg{
    background-color: #01131E;
    stroke-width: 2px;
    stroke: #01131E;
    width: 81px;
    height: 81px;
    border-radius: 100%;
    position: relative;
}
.profile__img{
    border: 2px solid #01131E;
    border-radius: 100%;
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.content__desc{
    max-width: 580px;
    width: 100%;
    color: #01131E;
    font-family: Clash Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    margin-top: 20px;
}
.resumeService{
    margin-top: 20px;
    margin-left: -15px;
}

.button__remove{
    border-radius: 8px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 4px solid #000;
    border-left: 2px solid #000;
    background: #F94A29;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 219px;
    height: 46px;
    color: #01131E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}